//  BREADCRUMBS

.breadcrumbs {
  display: flex;
  margin-bottom: 1.7rem;

  li {
    font-size: 1.4rem;
    color: $gymshark-dark-grey;
    text-transform: capitalize;

    a {
      color: $gymshark-dark-grey;
      text-decoration: none;
    }

    &:not(:last-child) {
      &:after {
        content: '/';
        padding: 0 0.5rem;
      }
    }
  }
}