// BUTTONS

.button {
  text-transform: uppercase;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  background: $gymshark-white;
  filter: drop-shadow(rgba($gymshark-black, 0.1) 0px 0px 0.2rem);
  border-radius: 0.2rem;
  padding: 0px;
  font-size: 1.4rem;
  line-height: 3.8rem;
  font-family: Roboto, Arial, sans-serif;
  color: $gymshark-black;
  border: none;
  height: auto;
  position: relative;
  margin: 0px 0.25rem 0.5rem;
  flex: 1 1 0%;
  max-height: 3.4rem;
  cursor: pointer;

  &.active {
    background-color: $gymshark-light-grey;
  }

  &:hover {
    background-color: $gymshark-black;
    color: $gymshark-white;
  }
}