// EXERCISE PAGE

.exercise {
  display: flex;
  
  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__image {
    width: 50%;
    position: relative;
  
    @media (max-width: 768px) {
      width: 100%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__options {
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: row;
    position: absolute;
    left: $spacing;
    right: $spacing;
    bottom: $spacing;
    border-radius: 0.4rem;
    padding: 1.5rem 1.3rem $spacing;
    transition: all $transition ease 0s;
  }

  &__info {
    padding: 2rem 0 0 8rem;
    width: 50%;
  
    @media (max-width: 768px) {
      width: 100%;
      padding: $spacing * 2 0.8rem 0.8rem;
    }

    h1 {
      font-size: 2rem;
      line-height: 2.5rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
      text-transform: uppercase;
    }

    p {
      font-size: 1.6rem;
      line-height: 2.3rem;
      margin-bottom: 0.2rem;
      color: $gymshark-dark-grey;
      margin-bottom: 0.8rem;
    }

    ol {
      font-size: 1.6rem;
      line-height: 2.3rem;
      margin-bottom: 0.2rem;
      color: $gymshark-dark-grey;
      list-style: disc;
      padding-left: $spacing * 2;
      margin-bottom: 0.8rem;
    }

    span {
      font-size: 1.4rem;
      line-height: 2.1rem;
      color: $gymshark-grey;
      margin-bottom: 0.8rem;
      display: block;
    }
  }
}
