// EXCERCISE CARD

.exercise-card {
    position: relative;
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    width: calc(100% / 4);
    margin-bottom: 1.6rem;
    cursor: pointer;

    @media (max-width: 1024px) {
      width: calc(100% / 3);
    }
  
    @media (max-width: 768px) {
      width: calc(100% / 2);
    }
  
    @media (max-width: 576px) {
      width: 100%;
    }

    a {
      text-decoration: none;
    }

    &:hover {
      .exercise-card__options {
        opacity: 1;
      }
    }

    &__image {
      height: 374px;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    &__info {
      padding: $spacing 0.8rem 0.8rem;

      p {
        font-size: 1.6rem;
        line-height: 2.3rem;
        margin-bottom: 0.2rem;
        color: $gymshark-dark-grey;
      }

      span {
        font-size: 1.4rem;
        line-height: 2.1rem;
        color: $gymshark-grey;
      }
    }

    &__options {
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      flex-direction: row;
      position: absolute;
      left: $spacing;
      right: $spacing;
      bottom: $spacing;
      border-radius: 0.4rem;
      padding: 1.5rem 1.3rem $spacing;
      opacity: 0;
      transition: all $transition ease 0s;
    }
}