// FONTS

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

html {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}