// HEADER

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid rgb(210, 210, 210);
  padding: 1.5rem $spacing * 3;
  background-color: $gymshark-white;
  z-index: 1;
  margin-bottom: $spacing * 2;

  svg {
    height: 3.5rem;
    width: 4.6rem;
  }
}